$primary-500: #004E4D;
$primary-400: #00807E;
$primary-300: #64C3BF;

$neutal-600: #757575;
$neutal-500: #9E9E9E;
$neutal-400: #BDBDBD;
$neutal-300: #E0E0E0;
$neutal-200: #EEEEEE;
$neutal-100: #F7F7F7;
$neutal-0: #FFFFFF;

$background-color: #FAFAFA;
